
.nav {
padding: 1.5rem;
z-index: 100;
border-bottom: rgba(0,0,0,0.1) solid 1px;
transition: alt 2s;
}


.splash {
    background-image: url("img/aston-uni.jpg");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 200;
	color: black;
	text-align: center;
	line-height: 90vh;
}
	

	
  .splash.display-none {
	position: fixed;
	opacity:0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
	color: white;
	text-align: center;
	line-height: 90vh;
	transition: alt 0.5s;
} 


@keyframes fadeIn{
	to{
		opacity:1;
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;

}

	